<?xml version="1.0" encoding="UTF-8"?>
<testsuites>
  <testsuite name="tests" tests="40" assertions="57" failures="0" errors="0" time="0.040892">
    <testsuite name="PPAPIServiceTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPAPIServiceTest.php" tests="2" assertions="2" failures="0" errors="0" time="0.002232">
      <testcase name="testSetServiceName" class="PPAPIServiceTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPAPIServiceTest.php" line="35" assertions="2" time="0.001445"/>
      <testcase name="testMakeRequest" class="PPAPIServiceTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPAPIServiceTest.php" line="46" assertions="0" time="0.000787"/>
    </testsuite>
    <testsuite name="PPBaseServiceTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPBaseServiceTest.php" tests="1" assertions="3" failures="0" errors="0" time="0.000888">
      <testcase name="testGetServiceName" class="PPBaseServiceTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPBaseServiceTest.php" line="37" assertions="3" time="0.000888"/>
    </testsuite>
    <testsuite name="PPCertificateCredentialTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPCertificateCredentialTest.php" tests="8" assertions="8" failures="0" errors="0" time="0.006726">
      <testcase name="testValidateUname" class="PPCertificateCredentialTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPCertificateCredentialTest.php" line="34" assertions="1" time="0.000870"/>
      <testcase name="testValidatePwd" class="PPCertificateCredentialTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPCertificateCredentialTest.php" line="47" assertions="1" time="0.000845"/>
      <testcase name="testValidateCertPath" class="PPCertificateCredentialTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPCertificateCredentialTest.php" line="57" assertions="1" time="0.000849"/>
      <testcase name="testValidateAppId" class="PPCertificateCredentialTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPCertificateCredentialTest.php" line="66" assertions="1" time="0.000843"/>
      <testcase name="testGetUserName" class="PPCertificateCredentialTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPCertificateCredentialTest.php" line="76" assertions="1" time="0.000800"/>
      <testcase name="testGetPassword" class="PPCertificateCredentialTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPCertificateCredentialTest.php" line="85" assertions="1" time="0.000887"/>
      <testcase name="testGetCertificatePath" class="PPCertificateCredentialTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPCertificateCredentialTest.php" line="93" assertions="1" time="0.000808"/>
      <testcase name="testGetApplicationId" class="PPCertificateCredentialTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPCertificateCredentialTest.php" line="100" assertions="1" time="0.000824"/>
    </testsuite>
    <testsuite name="PPConfigManagerTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPConfigManagerTest.php" tests="3" assertions="9" failures="0" errors="0" time="0.002800">
      <testcase name="testGetInstance" class="PPConfigManagerTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPConfigManagerTest.php" line="37" assertions="1" time="0.000792"/>
      <testcase name="testGet" class="PPConfigManagerTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPConfigManagerTest.php" line="47" assertions="5" time="0.001029"/>
      <testcase name="testGetIniPrefix" class="PPConfigManagerTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPConfigManagerTest.php" line="63" assertions="3" time="0.000979"/>
    </testsuite>
    <testsuite name="PPConfigurationExceptionTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPConfigurationExceptionTest.php" tests="1" assertions="1" failures="0" errors="0" time="0.000867">
      <testcase name="testPPConfigurationException" class="PPConfigurationExceptionTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPConfigurationExceptionTest.php" line="31" assertions="1" time="0.000867"/>
    </testsuite>
    <testsuite name="PPConnectionExceptionTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPConnectionExceptionTest.php" tests="2" assertions="2" failures="0" errors="0" time="0.001684">
      <testcase name="testGetUrl" class="PPConnectionExceptionTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPConnectionExceptionTest.php" line="36" assertions="1" time="0.000841"/>
      <testcase name="testPPConnectionException" class="PPConnectionExceptionTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPConnectionExceptionTest.php" line="43" assertions="1" time="0.000843"/>
    </testsuite>
    <testsuite name="PPConnectionManagerTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPConnectionManagerTest.php" tests="2" assertions="5" failures="0" errors="0" time="0.001748">
      <testcase name="testGetInstance" class="PPConnectionManagerTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPConnectionManagerTest.php" line="36" assertions="1" time="0.000791"/>
      <testcase name="testGetConnection" class="PPConnectionManagerTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPConnectionManagerTest.php" line="45" assertions="4" time="0.000957"/>
    </testsuite>
    <testsuite name="PPCredentialManagerTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPCredentialManagerTest.php" tests="2" assertions="11" failures="0" errors="0" time="0.002431">
      <testcase name="testGetInstance" class="PPCredentialManagerTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPCredentialManagerTest.php" line="36" assertions="1" time="0.001255"/>
      <testcase name="testGetCredentialObject" class="PPCredentialManagerTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPCredentialManagerTest.php" line="46" assertions="10" time="0.001176"/>
    </testsuite>
    <testsuite name="PPInvalidCredentialExceptionTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPInvalidCredentialExceptionTest.php" tests="1" assertions="1" failures="0" errors="0" time="0.000889">
      <testcase name="testErrorMessage" class="PPInvalidCredentialExceptionTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPInvalidCredentialExceptionTest.php" line="36" assertions="1" time="0.000889"/>
    </testsuite>
    <testsuite name="PPLoggingManagerTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPLoggingManagerTest.php" tests="5" assertions="0" failures="0" errors="0" time="0.003816">
      <testcase name="testLog" class="PPLoggingManagerTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPLoggingManagerTest.php" line="36" assertions="0" time="0.000787"/>
      <testcase name="testError" class="PPLoggingManagerTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPLoggingManagerTest.php" line="44" assertions="0" time="0.000759"/>
      <testcase name="testWarning" class="PPLoggingManagerTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPLoggingManagerTest.php" line="53" assertions="0" time="0.000754"/>
      <testcase name="testInfo" class="PPLoggingManagerTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPLoggingManagerTest.php" line="61" assertions="0" time="0.000756"/>
      <testcase name="testFine" class="PPLoggingManagerTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPLoggingManagerTest.php" line="69" assertions="0" time="0.000760"/>
    </testsuite>
    <testsuite name="PPMissingCredentialExceptionTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPMissingCredentialExceptionTest.php" tests="1" assertions="1" failures="0" errors="0" time="0.000839">
      <testcase name="testErrorMessage" class="PPMissingCredentialExceptionTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPMissingCredentialExceptionTest.php" line="36" assertions="1" time="0.000839"/>
    </testsuite>
    <testsuite name="PPSignatureCredentialTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPSignatureCredentialTest.php" tests="8" assertions="8" failures="0" errors="0" time="0.006627">
      <testcase name="testValidateSignature" class="PPSignatureCredentialTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPSignatureCredentialTest.php" line="36" assertions="1" time="0.000852"/>
      <testcase name="testValidateUsername" class="PPSignatureCredentialTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPSignatureCredentialTest.php" line="45" assertions="1" time="0.000866"/>
      <testcase name="testValidatepwd" class="PPSignatureCredentialTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPSignatureCredentialTest.php" line="54" assertions="1" time="0.000834"/>
      <testcase name="testValidateAppId" class="PPSignatureCredentialTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPSignatureCredentialTest.php" line="63" assertions="1" time="0.000835"/>
      <testcase name="testGetSignature" class="PPSignatureCredentialTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPSignatureCredentialTest.php" line="72" assertions="1" time="0.000796"/>
      <testcase name="testGetUserName" class="PPSignatureCredentialTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPSignatureCredentialTest.php" line="79" assertions="1" time="0.000795"/>
      <testcase name="testGetPassword" class="PPSignatureCredentialTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPSignatureCredentialTest.php" line="86" assertions="1" time="0.000796"/>
      <testcase name="testGetAppId" class="PPSignatureCredentialTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPSignatureCredentialTest.php" line="93" assertions="1" time="0.000853"/>
    </testsuite>
    <testsuite name="PPUtilsTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPUtilsTest.php" tests="4" assertions="6" failures="0" errors="0" time="0.009345">
      <testcase name="testNvpToMap" class="PPUtilsTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPUtilsTest.php" line="35" assertions="3" time="0.000953"/>
      <testcase name="testArray_match_key" class="PPUtilsTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPUtilsTest.php" line="46" assertions="2" time="0.000968"/>
      <testcase name="testGetLocalIPAddress" class="PPUtilsTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPUtilsTest.php" line="57" assertions="0" time="0.006616"/>
      <testcase name="testGetRequestSource" class="PPUtilsTest" file="C:\wamp\www\test\92\merchant-php-sdk\tests\PPUtilsTest.php" line="66" assertions="1" time="0.000808"/>
    </testsuite>
  </testsuite>
</testsuites>
